
.table-view .column-header-background {
    -fx-padding: 10;
    -fx-background-color: #00424B; /* Removes the grey header background */
}

.table-view .column-header {

    -fx-background-color: transparent; /* Removes individual column backgrounds */
}
.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: white;
}
/* Optional: Remove borders */
.table-view .column-header,
.table-view .column-header-background {
    -fx-border-width: 0;
}
.table-view .table-row-cell {
    -fx-background-color: #05A3B9;  /* White background */
    -fx-text-fill: #333333;         /* Dark text */
    -fx-border-color: #e0e0e0;      /* Light gray border */
    -fx-border-width: 0 0 1 0;      /* Bottom border only */
}
.Produit-Table .column-header-background {
    /*-fx-background-color: transparent;*/
}
.Produit-Table{
    -fx-background-color: #05A3B9;
}
.Produit-Table .column-header .label {
    -fx-text-fill: #05A3B9;
}
.PopUpStyle{
    -fx-background-radius:30px ;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
}
.FourniseurTable .column-background{
    -fx-background-color:  linear-gradient(to bottom, #1F4D54 0%, #44ABBA 20.19%);
}
.FourniseurTable {

    -fx-background-color: transparent; /* Removes individual column backgrounds */
}
