.Button{
    -fx-background-color:rgba(255, 255, 255, 0.2);
    -fx-font-color:white;
    -fx-text-fill: white;
}
.TopBarIcons{
    -fx-background-color:rgba(0, 0, 0, 0);
}
.Button:hover {
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-text-color: white;
}

.Button:hover .text {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #01252A 26.56%, #037F90 100%);
}

.Button:hover ImageView {
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(gaussian, #0099aa, 5, 0.4, 0, 0);
}
